*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#1f1f1f;
color:#ffffff;
line-height:1.6;
}

/* Text selection blue */
::selection{background:#4da3ff;color:white;}

/* HERO */
.hero{
background:linear-gradient(90deg,#2b2b2b,#1f1f1f);
padding:60px 20px;
}

.container{max-width:1000px;margin:auto;}

.hero-content{
display:flex;
align-items:center;
gap:30px;
flex-wrap:wrap;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:4px solid #888;
object-fit:cover;
cursor:pointer;
}

h1{font-size:42px;}
h2{color:#cfcfcf;margin-bottom:10px;}
h3{margin-bottom:20px;font-size:28px;}

.contact a,
.contact a:visited,
.contact a:active{
color:white;
text-decoration:none;
margin-right:15px;
}

.section{padding:50px 20px;}

.card{
background:#2a2a2a;
padding:20px;
border-radius:14px;
margin-bottom:18px;
}

.modal{
display:none;
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}

.modal img{max-width:90%;max-height:90%;}

@media(max-width:768px){
.hero-content{flex-direction:column;text-align:center;}
}
