*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#081a33;
color:white;
line-height:1.6;
}

/* HERO */
.hero{
background:linear-gradient(90deg,#0b2545,#081a33);
padding:60px 20px;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.hero-content{
display:flex;
align-items:center;
gap:30px;
flex-wrap:wrap;
}

h1{font-size:42px;font-weight:800;}
h2{color:#38bdf8;margin-bottom:10px;}
h3{margin-bottom:20px;font-size:28px;}

.contact span{
margin-right:20px;
color:#cbd5e1;
}

/* PROFILE IMAGE */
.profile-img{
width:140px;
height:140px;
border-radius:50%;
border:4px solid #38bdf8;
cursor:pointer;
object-fit:cover;
}

/* SECTIONS */
.section{padding:30px 0;}

.about{
color:#cbd5e1;
max-width:700px;
}

/* CARDS */
.card{
background:#122b4d;
padding:18px 22px;
border-radius:12px;
margin-top:15px;
}

/* IMAGE MODAL */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
justify-content:center;
align-items:center;
}

.modal img{
width:90%;
max-width:500px;
border-radius:12px;
}

/* MOBILE */
@media(max-width:700px){
.hero-content{flex-direction:column;text-align:center;}
.contact span{display:block;margin:5px 0;}
h1{font-size:32px;}
}
