*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, sans-serif;
}

body{
background:#0f172a;
color:#e2e8f0;
line-height:1.6;
}

/* CONTAINER */
.container{
width:90%;
max-width:1000px;
margin:auto;
}

/* HERO */
.hero{
background:linear-gradient(90deg,#0f172a,#1e293b);
padding:60px 0;
}

.hero-content{
display:flex;
align-items:center;
gap:40px;
flex-wrap:wrap;
}

.hero-text h1{
font-size:40px;
font-weight:800;
}

.hero-text h2{
color:#38bdf8;
margin-top:5px;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:4px solid #38bdf8;
object-fit:cover;
cursor:pointer;
transition:0.3s;
}

.profile-img:hover{
transform:scale(1.05);
}

/* CONTACT */
.contact{
margin-top:15px;
font-weight:500;
}

.contact a, .contact span{
color:#cbd5e1;
text-decoration:none;
margin-right:20px;
font-size:15px;
}

.contact a:hover{
color:#38bdf8;
}

/* SECTIONS */
.section{
padding:50px 0;
}

.section h3{
margin-bottom:20px;
font-size:28px;
color:#38bdf8;
font-weight:700;
letter-spacing:0.5px;
}

/* CARDS */
.card{
background:#1e293b;
padding:22px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.25);
border-left:4px solid #38bdf8;
transition:0.3s;
}

.card:hover{
transform:translateY(-4px);
}

.card ul{
padding-left:20px;
}

.card li{
margin-bottom:8px;
}

/* IMAGE ZOOM */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}

.modal-img{
max-width:90%;
max-height:90%;
border-radius:10px;
}

/* MOBILE */
@media(max-width:768px){
.hero-content{
flex-direction:column;
text-align:center;
}
.hero-text h1{
font-size:30px;
}
}
